body{
    margin: auto;
    width: 100%;
    height: 100%;
}

h1 {
    font-family:arial;
    font-size:2em;
    color:#333;
}

h3 {
    font-family:arial;
    color:#333;
}



.state {
    fill:none;
    stroke: black;
    stroke-width: 3px;
    stroke-opacity: 1;
}

.treemap-margin {
    margin-right: 60px;
}

.counties:hover {
    /*fill: steelblue;*/
    opacity: .5;
}

.w3-margin-top-custom{margin-top:55px!important}

.w3-margin-top-custom5{margin-top:90px!important}


.w3-margin-left-custom{margin-left:30px!important}
.w3-margin-left-custom1{margin-left:50px!important}


.w3-padding-right-custom{margin-right:25px!important}

.flex-item{
    flex-grow: 1;
}

.w3-margin-bot-custom {
    margin-bottom: 70px;
}

.w3-margin-top-custom1 {
    margin-top: 10px;
}
.w3-margin-bot-logo {
    margin-bot: 20px;
}


text {
    font-size: 11px;
}

path {
    stroke-linejoin: round;
    stroke-linecap: round;
}

.districts {
    fill: #bbb;
}

.districts :hover {
    stroke: #000 !important;
}

.district-boundaries {
    pointer-events: none;
    fill: none;
    stroke: #fff;
    stroke-width: .5px;
}

.state-boundaries {
    pointer-events: none;
    fill: none;
    stroke: #fff;
    stroke-width: 1.5px;
}

h1 {
    font-family:arial;
    font-size:2em;
    color:#333;
}
#info {
    position:absolute;
    top: 10px;
    left: 10px;
}
/*
.states {
    fill: #bbb;
    stroke: #fff;
    stroke-width:2px;
}
*/
.states:hover {
    opacity: .6;
}
.states {
    stroke: #fff;
    stroke-width:2px;
}

/* Hide the browser's default checkbox */
.checkmarkContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkmarkContainer:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkmarkContainer input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkmarkContainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkmarkContainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.raisedbox-right {
    box-shadow: -.1em 0 .4em black;
}

.fontCustom {
    font-family: Arial Black;
    font-size: 46px;
}

.fontTitle {
    font-family: Arial;
    font-size: 30px;
}

.fontTitleSmall {
    font-family: Arial;
    font-size: 25px;
}
.mediumText { font: 20px sans-serif; }


.fontTitleSmaller {
    font-family: Arial;
    font-size: 20px;
}

.logo {
    display: inline-block;
}

.tooltip > p {
    margin-top: 4px;
    margin-bottom: 4px;
}

.tooltip {
    background: #101010;
    color: #EAEAEA;
    border-radius: 5px;
    position: absolute;
    padding: 8px;
    pointer-events: none;
    text-align: left;
    opacity: .5;
}


#head-title {

}


.axisGray line{
    stroke: #807d85;
}

.axisGray path{
    stroke: #807d85;
}

.axisGray text{
    fill: #807d85;
}

path.domain {
    fill: #807d85;
}


.axis path,
.axis tick,
.axis line {
    fill: none;
    stroke: none;
}

#x-axis text {

}
.w3-margin-top-custom2{margin-top:36px}

.updateDataFont {
    color: #9e9e9e;
    position: absolute;
    bottom: 20px;
}

/** Navbar  **/
.navbar {
    order: 1;
    position: absolute;
}

.raisedbox {
    box-shadow: 0 8px 6px -6px black;
    background-color: lightyellow;
    order: 2;
    position: absolute;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    background: #fff;
    position: absolute;
    top: 112px;
}

.innerContainer {
    flex: 0 1 1100px;
    flex-flow: row wrap;
    position: relative;
    top: 20px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;

}

.innerContainer2 {
    position: relative;
    overflow: hidden;
    flex: 0 1 600px;
    flex-flow: column wrap;
    top: 20px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}


#usMap {

}

/* Legend Position Style */
.legend {
    display: flex;
    flex-flow:row;
    position: absolute;
    bottom: 80px;
    left: 950px;
}


